body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
#bienvenida{
    background-color: rgb(243, 243, 243); 
    width: max-width; 
    display: block; 
    height: 45px; 
    border-bottom: solid darkgray 1px; 
    padding: 10px;
}
#menu{
    position: absolute; 
    left:15%; 
    top: 10;
}
.menuItem{
    margin-right: 40px;
    text-decoration: none;
    color: #000000;
}
.menuItem:hover{
    color: #E83F3F;
}
#container1, #container2, #container3, #container4, #container5{
    position: relative; 
    height:auto; 
    width:90%; 
    display: block;

}
#main{
    display: block; 
    padding: 10px; 
    background-color:#F8F6F6;
}
#footer{
    padding: 6px 20px 5px 20px;
    background-color:  rgb(243, 243, 243);   
    border-top: solid darkgray 1px; 

    display: block;  
    height: 65px;
}
#footer p{
    float: right; 
    text-align: right;   
}
#footer a{
    color: #000000;
  
}
#footer a:hover{
    color: #E83F3F;
}
#linkSubir{
    color: #000000;
    position: relative; 
}